.example-container .mat-form-field + .mat-form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .example-card {
    max-width: 400px;
  }

  :host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }

  .button{
    justify-content: center;
    display: flex;
  }