.mat-form-field + .mat-form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

.editUser {
    display: flex;
    justify-content: center;
    width: 96%;
  }
  
  :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }